extends html_template.pug

block logged_content
    br
    .row.text-center
        .col-md-4
        .col-md-4
            h3 COLLECTION: #{collectionMetaData.collectionName.toUpperCase()}
        .col-md-4
    br
    if collectionData.length > 0
        #carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
            .carousel-indicators
                each photo, index in collectionData
                    if index == 0
                        button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                    else 
                        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to=index aria-label='Slide' + index + 1)

            .carousel-inner
                each photo, index in collectionData
                    if index == 0
                        .carousel-item.active
                            img.d-block.w-100(src=photo.photoPath style="max-width:100%; height: 50vh; object-fit: contain;")
                    else
                        .carousel-item
                            img.d-block.w-100(src=photo.photoPath style="max-width:100%; height: 50vh; object-fit: contain;")
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next



    if user.id == collectionMetaData.collectionOwner
        br
        .row.text-center(style="margin-left: auto; margin-right: auto")
            a.col-md-3.btn.btn-outline-secondary.del-btn#add-photo(href="/photo/" + id) ADD NEW PHOTOS
            button.col-md-3.btn.btn-outline-secondary.reverse-del-btn#show-deletion-div SHOW PHOTOS LIST
            a.col-md-3.btn.btn-outline-secondary.del-btn#edit-collection(href="/edit-collection/" + collectionMetaData._id) EDIT COLLECTION
            button.col-md-3.btn.btn-outline-secondary.reverse-del-btn#delete-collection(type="button" data-bs-toggle='modal' data-bs-target='#staticBackdrop') DELETE COLLECTION
        br

        #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
            .modal-dialog
                .modal-content.custom-card
                    .modal-header
                        h5#staticBackdropLabel.modal-title Are you sure?
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        | After deleting collection you cannot restore photos
                    .modal-footer
                        button.btn.btn-outline-secondary.del-btn(type='button' data-bs-dismiss='modal') DIMISS
                        a.btn.btn-outline-secondary.delete-photo-btn(href='/delete-collection/' + collectionMetaData._id) DELETE
    #photosDiv
        each photo, index in collectionData
            .row.photoDelRow.overFlowingRow.my-1
                br
                .card.col-md-9.custom-card
                    .card-body
                        - let tempPhoto = photo.photoPath.split("/");
                        div #{tempPhoto[tempPhoto.length - 1]}
                a.del-btn.align-center.btn.col-md-3.btn.btn-outline-secondary.delete-photo-btn(href="/delete-photo/" + photo._id) DELETE
        
    if user.id != collectionMetaData.collectionOwner && collectionData.length == 0
        .row 
        .col.text-center IT'S EMPTY HERE, WAIT UNTIL COLLECTION OWNER ADDS SOMETHING HERE
        


    script(src="/collectionCustomActions.js")